<h1 class="text-center mt-5">Listado de jugadores</h1>
<div class="container col-lg-8 border mx-auto p-2 mt-2">
  <form
    [formGroup]="filtrarJugadoresForm"
  >
    <h4 for="filtro" class="m-2">Filtros</h4>

    <label
      for="filtro"
      class="form-label m-2"
    >Filtro por nombre y apellido</label>
    <div class="d-flex gap-2 align-items-center mx-2 w-100">
      <input
        id="filtro"
        type="text"
        formControlName="filtro"
        class="form-control w-75"
      >
      <input
        type="button"
        class="p-auto btn btn-secondary w-25 mx-4"
        value="Filtrar por texto"
        (click) = "onClickFiltrarTexto()"
      />
    </div>

    <div class="d-flex gap-2 align-items-center mx-2 mt-2 w-100">
      <label
        class="form-label w-25"
        for="disciplina"
      >Disciplina</label>
      <label
        class="form-label w-25"
        for="localidad"
      >Facultad</label>
      <label
        class="form-label w-25"
        for="nacionalidad"
      >Nacionalidad</label>
      <div
        class="p-auto w-25 mx-4"
      ></div>
    </div>

    <div class="d-flex gap-2 align-items-center mx-2 w-100">
      <div class="w-25">
        <select
          id="disciplina"
          class="form-select"
          formControlName="filtroDisciplina"
        >
          <option value="">- Selecione -</option>
          <option *ngFor="let n of disciplinas" [ngValue]="n">
            {{n.nombre}}
          </option>
        </select>
      </div>
      <div class="w-25">
        <select
          id="localidad"
          class="form-select"
          formControlName="filtroFacultad"
        >
          <option value="">- Selecione -</option>
          <option *ngFor="let n of facultades" [ngValue]="n">
            {{n.nombre}}
          </option>
        </select>
      </div>
      <div class="w-25">
        <select
          id="nacionalidad"
          class="form-select"
          formControlName="filtroNacionalidad"
        >
          <option value="">- Selecione -</option>
          <option *ngFor="let n of nacionalidades" [ngValue]="n">
            {{n.nombre}}
          </option>
        </select>
      </div>
      <input
        type="button"
        class="p-auto btn btn-secondary w-25 mx-4"
        value="Filtrar por selección"
        (click) = "onClickFiltrarCombos()"
      />
    </div>

    <label for="items" class="form-label m-2 w-25">Ítems por página</label>

    <div class=" d-flex gap-2">
      <div class="w-25 mx-2">
        <select
          id="items"
          class="form-select"
          formControlName="itemsPorPagina"
        >
          <option value=3>3</option>
          <option value=5>5</option>
          <option value=8>8</option>
        </select>
      </div>
      <input
        type="button"
        class=" btn btn-dark"
        value="Limpiar filtrado"
        (click) = "onLimpiarFiltro()"
      />
    </div>
  </form>

  <h4 class="mt-5">Tabla de jugadores</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Facultad</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Rol</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of jugadores">
        <th scope="row">{{n.nombre + " " +n.apellido}}</th>
        <td>{{n.dni}}</td>
        <td>{{n.fechaNacimiento | date : "dd/MM/YY"}}</td>
        <td>{{n.facultad.nombre}}</td>
        <td>{{n.disciplina.nombre}}</td>
        <td>{{n.nacionalidad.nombre}}</td>
        <td>{{n.rol.nombre}}</td>
        <td>
          <div class="d-flex gap-2">
            <button class="btn btn-success" (click)="onEditar(n.id)">Editar</button>
            <button class="btn btn-danger" (click)="onEliminar(n.id)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex gap-4 w-100 justify-content-center align-items-center">
    <button
      (click)="onPaginaAnterior()"
      class="p-1 btn btn-secondary"
    ><<</button>
    <p class="h5">{{paginaActual + 1}}</p>
    <button
      (click)="onPaginaSiguiente()"
      class="p-1 btn btn-secondary"
    >>></button>
  </div>

  <div class="d-flex gap-2">
    <button
      (click)="onNuevoJugadorClick()"
      class="p-2 btn btn-primary mt-2"
    >Agregar jugador</button>
    <button
      (click)="onVolver()"
      class="p-2 btn btn-secondary mt-2"
    >Volver al inicio</button>
  </div>
</div>


