  <header class="bg-light card-header w-100">
    <h1
      class="text-center mb-3 p-3"
    >Bienvenidos</h1>
    <div class="d-flex justify-content-between">
      <a href="https://www.frvm.utn.edu.ar/" class="col-2 d-flex justify-content-start" >
        <img  src="../../assets/icons/logo-utn.png" alt="Logo UTN" class="img-logo w-75 h-75">
      </a>
      <a 
      class="d-flex justify-content-end" 
      (click)="onVolver()"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
      </a>
      
    </div>
  </header>

  <div class="d-flex gap-5 card-body justify-content-center">
    <button
      (click)="onJugadoresClick()"
      class="p-3 w-25 btn btn-primary "
    >Jugadores</button>

    <button
      (click)="onDisciplinasClick()"
      class="p-3 w-25 btn btn-secondary"
    >Disciplinas</button>
  </div>

  <footer class="bg-dark text-white card-footer py-4 position-absolute fixed-bottom">
    <div class="container">
      <h2
        class="text-center p-3"
      >Desarrollo de aplicaciones web 2022</h2>
      <div class="justify-content-center">
        <nav class="row">
          <div class="d-flex flex-column col-4 p-2">
            <a
              href="http://localhost:4200/inicio"
            >¿Necesitas ayuda? Preguntas frecuentes</a>
            <a
              href="http://localhost:4200/inicio"
            >Contacto</a>
          </div>
          <ul class="col-3 list-unstyled justify-content-center">
            <li class="font-weight-bold text-uppercase">Redes</li>
            <li class="d-flex justify-content-between">
              <a class="text-reset"
                href="https://www.facebook.com/"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a class="text-reset"
                href="https://twitter.com/home"
              >
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a class="text-reset"
                href="https://www.instagram.com/"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
          
        </nav>
      </div>
    </div>
  </footer>
