  <header class="bg-light card-header w-100">
    <h1
      class="text-center mb-3 p-3"
    >Bienvenidos</h1>
  </header>

  <div class="d-flex gap-5 card-body justify-content-center">
    <button
      (click)="onJugadoresClick()"
      class="p-3 w-25 btn btn-primary "
    >Jugadores</button>

    <button
      (click)="onDisciplinasClick()"
      class="p-3 w-25 btn btn-secondary"
    >Disciplinas</button>
  </div>

  <footer class="bg-dark text-white card-footer py-4 position-absolute fixed-bottom">
    <div class="container">
      <h2
        class="text-center p-3"
      >Desarrollo de aplicaciones web 2022</h2>
      <div class="justify-content-center">
        <nav class="row">
          <div class="d-flex flex-column col-4 p-2">
            <a
              href="http://localhost:4200/inicio"
            >¿Necesitas ayuda? Preguntas frecuentes</a>
            <a
              href="http://localhost:4200/inicio"
            >Contacto</a>
          </div>
          <ul class="col-3 list-unstyled justify-content-center">
            <li class="font-weight-bold text-uppercase">Redes</li>
            <li class="d-flex justify-content-between">
              <a class="text-reset"
                href="https://www.facebook.com/"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a class="text-reset"
                href="https://twitter.com/home"
              >
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a class="text-reset"
                href="https://www.instagram.com/"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
          <div>
            <a href="https://www.frvm.utn.edu.ar/" class="col-10 d-flex justify-content-end" >
              <img  src="../../assets/icons/logo-utn.png" alt="Logo UTN" class="img-logo w-25 h-25">
            </a>
          </div>
        </nav>
      </div>
    </div>
  </footer>
